.site-list-entry {
    list-style-type: none;
    display: flex;
    height: 30px;
    font-size: large;
    justify-content: left;
    align-items: center;
    img {
        height: 25px;
        padding-left: 5px;
        padding-right: 10px;
    }

}

ul{
    padding-inline-start: 10px;
}